.dark-theme .header
{
	background-color:black;
}
.dark-theme .navigation_bar
{
	background-color:white;
}
.dark-theme .navigation_bar a
{
	color:black;
}
.dark-theme .activ
{
	background-color:#b8b894;
}
.dark-theme .dropdown .dropbtn
{
	color:black;
}
.dark-theme .dropdown-content
{
	background-color:black;
}
.dark-theme .dropdown-content a
{
	color:white;
}
.dark-theme .navigation_bar a:hover 
{
	background-color: #009933;
}
.dark-theme .dropdown:hover .dropbtn
{
	background-color: #009933;
}
.dark-theme .dropdown-content a:hover {
  background-color: #001a09;
  
}
.dark-theme .parte
{
	background-color:#1f1f14;
}
.dark-theme .footer h2
{
	color:white;
}
.dark-theme 
{
	background-color:black;
}
.dark-theme #Clasament
{
	color:white;
	text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px yellow;
}
.dark-theme .Tabel table td
{
	color:black;
}
.dark-theme .Tabel table tr:nth-child(even){
	background-color: #8c8c5a;
}
.dark-theme .Tabel table tr:nth-child(odd){
	background-color: #b9b992;
}
.dark-theme h2
{
	color:white;
}
.dark-theme #dark
{
	color:white;
}
.dark-theme .Checkbox span
{
	color:white;
}
.dark-theme #Facebook
{
	color:white;
}
.dark-theme .rand img
{
	color:white;
}
.dark-theme #Galeriee
{
	color:white;
}
.dark-theme #Fani
{
	color:white;
}