.container
{
    background:#eee;
    box-shadow: 1px 8px 12px 0px #000;
    padding: 10px 30px;
    margin:100px auto;
    width: 85%;
    position: relative;
}
 
input
{
    width: 100%;
}

.label
{
    margin-bottom: 5px;
}

form
{
    margin-bottom: 100px;
}

.submit
{
    color:#eee;
    background: #444;
    padding: 3px 12px;
    border:none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.errorContainer
{
    background:#DDAAAA;
    padding:2px;
    display: none;
    margin-bottom: 25px;
}
.error
{
    color:#E03d3d;
}

.formRow
{
    margin-bottom: 15px;
}

.phone
{
    display: flex;
}
span
{
    margin: 0 5px;
}

input[type="radio"]
{
    width: 20px;
}

